*{
    margin: 0;
    padding: 0;
    font-family: 'poppins','sans-serif';
    box-sizing: border-box;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg,#e2afba,#8565b0);
}
.container{
    position: relative;
    height: 550px;
    width: 840px;
    background: #fff;
    border-radius: 30px;
    box-shadow:0,0,10px,rgba(0, 0, 0,.4) ;
    border: none;
    margin: 20px;
    overflow: hidden;
    
}
.form-box{
    position: absolute;
    right: 0;
    height: 100%;
 
    width: 50%;
    background: #fff;
    display: flex;
    
    align-items:center;
  
   text-align: center;
   padding: 15px;
    z-index: 1;
   
   transition: 1.3s ease-in-out,visibility 0s .3s;

}
.container.active .form-box{
    left: 0;
}
.form-box.register{
    visibility: hidden;
}
.container.active .form-box.form-box.register{
    visibility: visible;
}
form{
   
width: 100%;
}
.input-box{
    margin: 30px 0;
   
}
.input-box input{
    width: 100%;
    height: 40px;
    padding: 13px 50px 13px 20px;
    border-radius: 20px;
    outline: none;
    border: none;
    font-size: 1.2em;
    background: #c6ade6;
    font-weight: 600;
    color: #333;
    box-sizing: border-box; 
    
}
.input-box::placeholder{
    color: #888;
    font-weight: 400;
}
.forget-link{
    margin: -15px 0 15px;
}
.forget-link a{
    font-size: 1.2em;
    text-decoration: none;
    color: #333;
    white-space: nowrap;
}
.forget-link a:hover{
    text-decoration: underline;
    font-weight: 500;
    cursor: pointer;
}
.btn{
    width:100%;
    height: 40px;
    background: #766dc0;
    color: #fff;
    font-weight: 600;
    font-size: 1.2em;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    cursor: pointer;
}
.container p{
    white-space: nowrap;
    
    margin: 10px 0;
   
}
.social-icon{
    display: flex;
    justify-content: center;
}
.social-icon a{
    display: inline-flex;
    padding: 10px;
    border: 2px solid #924e4e;
    margin: 0 8px;
    text-decoration: none;
  
    border-radius: 5px;
}
.toggle-box{
    position: absolute;
    height: 100%;
    width: 100%;
   
    
}
.toggle-box::before{
    content: '';
    position:absolute;
    height: 100%;
    left: -250%;
    width: 300%;
    background: #8b3c3c;
    border-radius: 150px;
    z-index: 2;
    transition: 1.2s ease-in-out ;
}
.container.active .toggle-box::before{
    left:50%;
}
.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: seagreen; */
    color: #fff;
    z-index: 2;
   
}
.toggle-panel.toggle-left{
    left:0;
    transition: 1.2s ease-out;
}
.container.active .toggle-panel.toggle-left{
    left: -50%;
    transition-delay: .4ss;
    filter: blur(10px);
}

.toggle-panel.toggle-right{
   transition: 1.1s ease-in-out;
    right: -50%;
    filter: blur(10px);
}
.container.active .toggle-panel.toggle-right{
    right: 0;
    transition-delay: .3s;
    filter: none;
}
.toggle-box .btn{
    width: 143px;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    
}

@media screen and (max-width:650px) {
    .container{
        height: calc(100vh-40px);
    }
    .form-box{
       
        height: 70%;
        width: 100%;
        bottom: 0;
       padding: 30px;
    }
    .container.active .form-box{
    
        bottom: 30%;
    }
    .toggle-panel{
        
        width: 100%;
        height: 30%;

    }
    .toggle-panel.toggle-right{
        right: 0;
        bottom: -30%;
    }
    .container.active .toggle-panel.toggle-right{
        bottom: 0;
    }
    .toggle-panel.toggle-left{
        top: 0;
    }
    .container.active .toggle-panel.toggle-left{
        top: -30%;
        left:0;
    }
    .toggle-box::before{
       width: 100%;
       top: -270%;
        height: 300%;
        left: 0;
        border-radius: 20vw;
    }
    .container.active .toggle-box::before{
        top: 73%;
        left: 0;
    }
}
@media  screen and (max-width:400px) {
    .form-box{
        padding: 30px;
    }
    .toggle-panel h1{
        font-size: 25px;
    }
} 