body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    height: 500px;
    width: 400px;
    background-color: rgb(40, 113, 101);
    border:2px solid transparent;
    border-radius: 15px;
   display: grid;
   place-items: center;


}
.form{
    position: relative;
    top: -18px;
    display: grid;
    place-items: center;

}
.form #guess{
    font-size: 1.8em;
}
.form .guessfield{
    height: 40px;
    background-color: rgb(68, 191, 97);
    border: none;;
    outline: none;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
}
.form .submit-guess{
    height: 35px;
    width: 80%;
    background: #162938;
    color: #fff;
    font-size: 1.2em;
    border: none;
    outline: none;
    cursor: pointer;

}
.resultpara{
   
    position: relative;
    font-size: 1.2em;
    top: -20px;
    
}
.resultpara .previous{
    padding: 3px 10px;
    background: #8f6262;
}
 .remanings{
    text-align: center;
}
.loworhi{
    text-align: center;
}
 .wrapper #btn{
    position: absolute;
    bottom:107px;
    width: 20%;
    height: 30px;
    background: #162938;
    color: #fff;
    font-size: 1.1em;
    outline: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    
}